  body{
        color: rgb(83, 88, 88);
        background-color: rgb(95, 97, 96);
         text-shadow: 2px 2px 5px black ;
         padding: 10px;
         border: color(rgb(185, 124, 124) red green blue);
         border: solid 1px rgb(230, 127, 127);
    }

    .my-img{

        width: 15%;
        border-radius: 80px;
        margin-right: 50px;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
        height: auto;
         border: 1px solid black;
         transition: 0.3s;
         cursor: pointer;

    }

    .heading-box{
        display:flex;
        background-color: rosybrown;
        border: solid 1px rgb(35, 245, 182);
        margin-bottom: 40px;
        
            border-radius: 50px;
            padding: 20px;
            flex-direction: column;
        margin-top: 30px;  
        backdrop-filter: blur(5px);
        background: rgba(0,0,0,0.3);
         
      }

        .heading-box:hover{
            background-color: rgb(167, 158, 158);
            color: blanchedalmond;
            box-shadow: 0.8px;
        }
    h1{
        text-align: center;
        font-size: 18px;
        color: rgb(255, 255, 255);
        margin-left: 10px;
        border-color: rgb(223, 190, 142);
        border: solid 1px black;
        background-color: rgb(88, 104, 96);
        border-radius: 50px;
        cursor: default;

    }



    h2{
       text-shadow: 4px 4px 9px black ;
        color: rgb(240, 132, 70);
        margin-bottom: 0px;
        margin-top: 20px;
        font-size: 20px, 5vw, 40px;
        margin-left: 30px;


        
    }

    h3{
        margin-bottom: 5px;
        color: rgb(168, 66, 117);
        margin-top: 5px;
        font-size: 40px;
        margin-left: 30px;
        
        
    }

    h4{
        color: rgb(99, 141, 141);
        margin-top: 5px;
        margin-bottom: 0px;
            margin-left: 30px;
    }

    h5{
        color: rgb(99, 141, 141);
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: 30px;
        margin-top: 1px;
        font-size:15px ;
        
    }

    p{
        color: rgb(221, 223, 118);
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            font-size: auto;
        }
    .buttons {
        
        
        flex-direction: column;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 70px;
      
    }

    .btn{
       color: rgb(188, 245, 83);
       border-radius: 80px;
       padding: 30px 30px;
       border-radius: 50px;
       border: 1px solid black;
       transition: 0.3s;
       margin-bottom: 10px;
       cursor: pointer;
       width: 200px;
       text-align: center;
       
       
          

    }
    .btn:hover {
        background-color: black;
        color: blanchedalmond;
    }
    

    a{
        text-decoration: none;
        
    }